<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h1>Welcome to the Question Portal</h1>
      <p>Ask any question and get answers from the community</p>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-md-8 offset-md-2">
      <% if user_signed_in? %>
        Questions
      <% else %>
        <%= link_to "Sign in to ask a new question", new_user_session_path, class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
